@import url('https://fonts.googleapis.com/css?family=Righteous|Merriweather|Open Sans');

body {
	font-family: "Open Sans",  serif;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather",  serif;
	color: #453D2E
}
  
  h1 {
	font-size: 3em;
  }
  
  h2 {
	font-size: 2em;
  }
  
  h3 {
	font-size: 1.5em;
  }
  
  h4 {
	font-size: 1em;
	font-family: "Open Sans", sans-serif; }
  
  h5 {
	font-size: 1em;
	font-weight: 100;
  }
  
  h6 {
	font-size: .9em;
	font-weight: 100;
  }

.navigation {
  font-family: "Open Sans", cursive;
  margin-top: 1em;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #453D2E;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
}

.navigation ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  list-style-type: none;
}

.navigation ul li {
  margin: .5em;
}

.navigation .logo {
  margin-left: .8em;
  font-family: "Righteous", cursive;
  font-size: 2em;
}

.container {
	margin-top: 1em;
	display: flex;
	flex-flow: column;
	padding: .8em;
	background-color: rgba(255, 255, 255, 0.9);
}

.homes-grid {
	display: flex;
}

@media(max-width: 768px) {
	.homes-grid {
		flex-flow: column;
	}
}

.home {
	list-style: none;
	color: #453D2E;
	flex: 1;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 5px;
	background: rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.home:hover {
	background: rgba(174, 179, 101, .3);
}

.home > .address {
	font-size: 1.2em;
	margin-bottom: .5em;
}

.address > span {
	white-space: pre-wrap;
}